body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020617;
  color: #e5e7eb;
}

header {
  padding: 90px 20px;
  text-align: center;
  background: linear-gradient(135deg, #16a34a, #065f46);
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 30px;
  background: #22c55e;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

section {
  padding: 60px 10%;
}

h2 {
  color: #4ade80;
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card {
  background: #020617;
  border: 1px solid #14532d;
  padding: 22px;
  border-radius: 10px;
}

.card h3 {
  color: #86efac;
}

ul {
  padding-left: 20px;
}

a {
  color: #4ade80;
}

footer {
  text-align: center;
  padding: 25px;
  background: #000;
  font-size: 0.9rem;
}
